@import './style/fonts.scss';

:root {
	--accent-500: #e8ff00;

	--gray-500: #161616;
}

* {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: 'silka', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}